.authentication-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.input-wrapper {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  border-bottom: 1px solid var(--color-9);
}

.input-wrapper:focus-within {
  border-bottom: 1px solid var(--color-4);
}
.label-input-field-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.input-label {
  text-align: start;
  width: 100%;
}
.input-field {
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.password-visibility-toggle-button {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  align-self: center;
}
.password-visibility-toggle-button img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.password-security-meter {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: 100%;
}
.password-security-meter span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4px;
  height: 4px;
  background-color: var(--color-5);
  border-radius: var(--border-radius-round);
  margin: 2px 0;
}
.authentication-remember-me {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
}
.input-checkbox {
  cursor: pointer;
}
.input-checkbox:focus-within {
  outline: 1px solid var(--color-4);
}
.authentication-remember-me span {
  margin-left: 0.5rem;
}
.submit-form-wrapper {
  display: flex;
  width: 100%;
}
.status-message {
  display: flex;
  width: 100%;
  align-items: center;
}
.status-message span {
  width: 100%;
  /* text-align: center; */
}
.signup-button {
  display: flex;
  z-index: 3;
  justify-content: flex-end;
  height: 100%;
}

@media screen and (min-width: 500px) {
  .authentication-form {

  }
}