.password-info-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-12_35);
  z-index: 3;
  overflow: auto;
  cursor: pointer;
}
.password-info-modal {
  position: relative;
  display: flex;
  width: 400px;
  min-width: 200px;
  max-height: 450px;
  flex-direction: column;
  background-color: var(--color-2);
  padding: 2rem;
  border-radius: var(--border-radius-modal);
  cursor:default;
  overflow-y: auto;
}
.password-info-header {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
}
.password-info-header-title {
  display: grid;  
  grid-area: 1 / 2 / 2 / 3;
}
.password-info-header-button {
  position: absolute ;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-info-rules {
  display: flex;
  flex-direction: column;
}
.password-info-rules-item {
  display: flex;
  height: auto;
  margin-bottom: 1rem;
}
.password-info-rules-item:first-child {
  margin-top: 1rem;
}
.password-info-rules-item:last-child {
  margin-bottom: 0;
}

/* MEDIA QUERY */
@media screen and (max-width: 350px) {
  .password-info-backdrop {
    align-items: initial;
    justify-content: initial;
    padding: 0;
  }
  .password-info-modal {
    min-width: 200px;
    width: 100%;
    max-height: 100vh;
    border-radius: 0;
  }
}
@media screen and (min-width: 500px) {
  .password-info-backdrop {
    align-items: center;
  }
}
@media screen and (max-height: 500px) {
  .password-info-backdrop {
    align-items: initial;
  }
}