.password-security-meter {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: 100%;
}
.password-security-meter span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4px;
  height: 4px;
  background-color: var(--color-5);
  border-radius: var(--border-radius-round);
  margin: 2px 0;
}