.signup {
  display: grid;
  width: 100%;
  background-color: var(--color-10);
}

@media screen and (min-width: 500px) {
  .signup {
    width: 500px;
  }
}


@media screen and (min-width: 768px) {
  .signup {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 100px 1fr 100px; 
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .signup {
    padding: 0;
    align-items: center;
  }
}
