#root {
  display: flex;
  min-width: 200px;
  width: 100%;
  background-color: var(--color-10);
}
.page-layout {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 249px) {
  .page-layout {
    overflow: scroll;
  }
}
@media screen and (min-width: 500px) {
  .page-layout {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  #root {
    justify-content: center;
    align-items: center;
  }
  .page-layout {
    min-height: 100vh;
    width: 100%;
    flex-direction: row;
  }
}