@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Open+Sans:wght@600&display=swap');

:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color palettes  */
  --color-1: #a1a1a1;
  --color-2: #ffffff;
  --color-2_10: #ffffff1a;
  --color-2_35: #ffffff59;
  --color-2_50: #ffffff80;
  --color-3: #757575;
  --color-4: #4a90e2;
  --color-4_medium: #206dc5;
  --color-4_dark: #19559a;
  --color-5: #e0e0e0;
  --color-6: #f9c466;
  --color-7: #bebebe;
  --color-8: #0a96a3;
  --color-9: #d4d4d4;
  --color-10: #f7f7f7;
  --color-11: #cd4146;
  --color-12: #000000;
  --color-12_35: #00000059;
  --color-13: #065f67;

  /* border radius */
  --border-radius-button: 5px;
  --border-radius-button--toggle-modal: 7px;
  --border-radius-modal: 10px;
  --border-radius-round: 50%; 
  
  /* font family */
  --open-sans: 'Open Sans', sans-serif;
  --apple-font: -apple-system, BlinkMacSystemFont, sans-serif;
  
  /* misc */
  --blur: 10px;
  --outline-offset: 3px;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* MEDIA QUERIES */
@media screen and (max-width: 240px) {
  html {
    overflow-y: auto;
  }
}